
REG_INJECT

#pragma once

#include <godot_cpp/core/class_db.hpp>

REG_INCLUDE

using namespace godot;

void REG_CLASS_NAME::_bind_methods() 
{
    REG_BIND_FUNCTIONS
    REG_BIND_PROPERTY_FUNCTIONS
    REG_BIND_PROPERTIES
}
